@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc4AMP6lQ.woff2)
      format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2)
      format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2)
      format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2)
      format("woff2");
}
@layer components {
  .searchPanel {
    @apply bg-mainBlue-400/90 w-full h-8 md:h-12 md:text-2xl max-w-5xl place-items-center rounded-3xl flex flex-row justify-end;
  }
  .weatherPanel {
    @apply bg-gradient-to-b from-mainBlue-300 to-mainBlue-200/50 flex flex-row justify-between h-full items-center p-1 px-4 rounded-[4rem] font-bold text-xl w-full;
  }
}
@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #ebf2fc;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #badeff;
    border-radius: 100vh;
    border: 1px solid #89acce;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7aa1c5;
  }
}
